button {
    width: 200px;
    background-color: rgb(65, 65, 215);
    color: #fff;
    font-size: 30px;
    border-radius: 10px;
    border: none;
}

.button-red {
    background-color: rgb(255, 69, 69);
}

.button-orange {
    background-color: rgb(255, 145, 0);
}

.button-blue {
    background-color: #2d73ff;
}

#list-color {
    background-color: rgb(255, 179, 87);
}

button:disabled {
    background-color: #999;
}

ul {
    padding: 20px;
    background-color: aquamarine;
}